/*------------------------------------*\
  external google api fonts 
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Passion+One&family=Righteous&display=swap");
/*------------------------------------*\
  global color variables 
\*------------------------------------*/
:root {
  /* Red primary color */
  --color-red-shade: #ff0303;

  /* White primary background */
  --color-light-shade: #fdfcfc;

  /* Black primary text */
  --color-dark-shade: #111;

  /* Black secondary text */
  --color-darker-shade: #000;

  /* White secondary background */
  --color-white-shade: #fff;
}
/*------------------------------------*\
  css global reset
\*------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*------------------------------------*\
  site header global styles
\*------------------------------------*/
.site-header {
  text-transform: uppercase;
  background-color: var(--color-red-shade);
  text-align: center;
  padding-top: 1rem;
}
.site-header h1,
.site-header h2 {
  text-transform: uppercase;
  color: var(--color-light-shade);
}
.site-header h1 {
  font-family: "Righteous", cursive;
  font-size: 5.6rem; /* 89.6px */
}

.site-header h2 {
  font-family: "Carter One", cursive;
  font-size: 2.2rem;
  background-color: var(--color-darker-shade);
}
/*------------------------------------*\
  card container styles
\*------------------------------------*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  background-color: var(--color-light-shade);
  background-image: url("../pattern.jpg");
  color: var(--color-white-shade);
}
.card {
  background-color: var(--color-dark-shade);
  text-align: center;
  list-style: none;
  border-radius: 1rem;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2);
  width: 22%;
  margin-top: 1rem;
}
.card-info {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: var(--color-white-shade);
  border-radius: 10px;
  background: var(--color-red-shade); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);
  background: linear-gradient(to right, #b31217, #e52d27);
}
.card-info:hover {
  cursor: pointer;
  font-size: 1.8rem;
  font-style: italic;
}
.card h3 {
  font-size: 2.5rem;
  font-family: "Passion One", cursive;
  color: var(--color-light-shade);
}
.card p {
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Carter One", cursive;
  font-size: 1.2rem;
}
.card img {
  width: 55%;
}
/*------------------------------------*\
  DOM on click even card effect
\*------------------------------------*/
.holo {
  background: linear-gradient(140.54deg, #608d00 0%, #d30000 72.37%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: color-dodge, overlay, difference, normal;
}
.holo h3 {
  color: var(--color-white-shade);
}
.holo p {
  color: var(--color-white-shade);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Righteous", cursive;
}
.holo .card-info {
  border: none;
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);
  background: linear-gradient(to right, #061161, #780206);
}
.shine {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd1818, #333333);
}
.shine h1 {
  font-family: "Carter One", cursive;
  font-size: 5.1rem;
}
